<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/app/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./tests/app</directory>
            <directory suffix=".php">./tests/src</directory>
            <directory suffix=".php">./tests/Form</directory>
        </whitelist>
    </filter>
</phpunit>